* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2e6ff; /* Colore di sfondo viola chiaro */
    color: #333; /* Testo nero */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Aggiunto per assicurare che il corpo occupi l'intera altezza della vista */
}

header {
    background: #663399; /* Viola scuro */
    color: #fff;
    padding: 20px;
    width: 100%; /* Aggiunto per assicurare che l'header occupi l'intera larghezza della vista */
    text-align: left; /* Aggiunto per allineare il testo a sinistra */
    position: absolute; /* Aggiunto per posizionare l'header in alto a sinistra */
    top: 0; /* Aggiunto per posizionare l'header in alto */
    left: 0; /* Aggiunto per posizionare l'header a sinistra */
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Aggiunto per centrare i bottoni verticalmente */
    width: 50%; /* Modificato per permettere due bottoni per riga */
}

.buttons button {
    display: block;
    width: 150px; /* Modificato per rendere i bottoni un po' più piccoli */
    height: 150px; /* Modificato per rendere i bottoni un po' più piccoli */
    margin: 20px auto; /* Modificato per centrare i bottoni orizzontalmente */
    font-size: 18px;
    color: #fff;
    background-color: #4b0082; /* Viola più scuro */
    border: none;
    cursor: pointer;
    border-radius: 25px; /* Aggiunto per arrotondare i bordi */
    transition: background-color 0.3s ease; /* Aggiunto per un effetto di transizione al passaggio del mouse */
}

.buttons button:hover {
    background-color: #7d48b1; /* Cambia il colore di sfondo al passaggio del mouse */
}

footer {
    background: #663399; /* Viola scuro */
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
